In [1]:
def test():
    print("this is shibani")

In [3]:
test()

this is shibani

In [4]:
#but 
test()+75

this is shibani

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [5]:
#noe typ

In [6]:
def test2():
    return "this is hello"

In [7]:
test2()

'this is hello'

In [8]:
test2()+"shibani.txt"

'this is helloshibani.txt'

In [9]:
def test3():
    return "shibani",23,[23,5,3,5]

In [10]:
test3()

('shibani', 23, [23, 5, 3, 5])

In [11]:
def test4():
    a=5+63+3
    return a

In [12]:
test4()

71

In [13]:
def test5(a,b,c):
    d=a+b+c
    return d

In [14]:
test5(5,6,3)

14

In [15]:
#concatate
def test6(a,b):
    return a+b

In [16]:
test6(5,6)

11

In [17]:
#in case  string

In [18]:
test6("shibani","sankar")

'shibanisankar'

In [20]:
l=[1,2,3,5,5,"shibani",[3,56,3]]
l1=[]
for i in l:
    if type(i)==int or type(i)==float:
        l1.append(i)

In [21]:
l1

[1, 2, 3, 5, 5]

In [22]:
#in case list bet list

In [23]:
l=[1,2,3,5,5,"shibani",[3,56,3]]

In [26]:
def test8(l):
    l1=[]
    for i in l:
        if type(i)==list:
            for j in i:
                l1.append(j)
        else:
            if type(i)==int or type(i)==float:
                l1.append(i)
    return l1

In [28]:
test8(l1)

[1, 2, 3, 5, 5]

In [29]:
#*args

In [30]:
#pass any arguments

In [31]:
def test9(*shibani,a):
    return shibani,a

In [32]:
test9(12,a=23)

((12,), 23)

In [33]:
#generater funcrion

In [34]:
def test_fib(n):
    a,b=0,1
    for i in range(n):
        yield a
        a,b=b,a+b

In [35]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [36]:
s="shibani"

In [37]:
for i in s:
    print(i)

s
h
i
b
a
n
i

In [38]:
s1=iter(s)

In [39]:
next(s1)

's'

In [40]:
next(s1)

'h'

In [41]:
next(s1)

'i'

In [42]:
#lambada function

In [43]:
def test(n,p):
    return n*p

In [44]:
test(5,2)

10

In [45]:
a=lambda n,p:n*p

In [46]:
a(5,2)

10

In [47]:
#add two number
a=lambda n,p:n+p

In [48]:
a(5,3)

8

In [53]:
c_to_f=lambda:(9/5)*c+32

In [54]:
c_to_f(45)

TypeError: <lambda>() takes 0 positional arguments but 1 was given

In [55]:
#max
find_max=lambda x,y:x if x>y else y

In [56]:
find_max(10,20)

20

In [57]:
s="shibaisankar nayak"

In [58]:
len(s)

18

In [59]:
find_len=lambda s:len(s)

In [61]:
find_len(s)

18

In [68]:
#map
l=[2,3,5,6]

In [69]:
def sq(x):
    return x**2

In [70]:
list(map(sq,l))

[4, 9, 25, 36]

In [71]:
list(map(lambda x:x**2,l))

[4, 9, 25, 36]

In [72]:
l1

[1, 2, 3, 5, 5]

In [73]:
l2=[3,6,5,6,6]

In [74]:
list(map(lambda x,y:x+y,l1,l2))

[4, 8, 8, 11, 11]

In [75]:
#upper
s

'shibaisankar nayak'

In [76]:
s.upper()

'SHIBAISANKAR NAYAK'

In [77]:
list(map(lambda s:s.upper(),s))

['S',
 'H',
 'I',
 'B',
 'A',
 'I',
 'S',
 'A',
 'N',
 'K',
 'A',
 'R',
 ' ',
 'N',
 'A',
 'Y',
 'A',
 'K']

In [78]:
#reduces

In [79]:
l1

[1, 2, 3, 5, 5]

In [81]:
from functools import reduce
reduce(lambda x,y:x+y,l)

16

In [82]:
#filter

In [83]:
l

[2, 3, 5, 6]

In [84]:
list(filter(lambda x:x%2==0,l))

[2, 6]