In [1]:
class shibani:
    def well_come_msg(sefl):
        print("well come to scholl")

In [2]:
shi=shibani()

In [3]:
shi.well_come_msg()

well come to scholl

In [4]:
class shibani:
    def well_come_msg(self):
        print("well come to clg")

In [5]:
sho=shibani()

In [6]:
sho.well_come_msg()

well come to clg

In [10]:
class guddu:
    def __init__(self,name,mail,roll_no):
        self.name=name
        self.mail=mail
        self.roll_no=roll_no
    def return_student_details(self):
        return self.name,self.mail,self.roll_no

In [11]:
shibai=guddu("shibani","nayakshibani@gmail.com",1023)

In [12]:
shibai.mail

'nayakshibani@gmail.com'

In [13]:
class guddu1:
    def __init__(self,name,id,no):
        self.name=name
        self.id=id
        self.no=no
    def student_detalis(self):
        return self.name,self.id,self.no

In [14]:
shiba=guddu1("shibani",102,7787098512)

In [15]:
shiba.id

102

In [86]:
def test(a,b):
    return a+b

In [87]:
test(1,5)

6

In [88]:
test([5,3,6,2,3,2],[2,365,15,6])

[5, 3, 6, 2, 3, 2, 2, 365, 15, 6]

In [16]:
#polymorphism
class data_scince:
    def syllabus(self):
        print("this is my name shibani sankar")

In [17]:
class wev_dev:
    def syllabus(self):
        print("this are the main function")

In [18]:
def claa(class_obj):
    for i in class_obj:
        i.syllabus()

In [19]:
data_scince=data_scince()
wev_dev=wev_dev()

In [20]:
class_obj=[data_scince,wev_dev]

In [21]:
claa(class_obj)

this is my name shibani sankar
this are the main function

In [22]:
#Encapsulation
class car:
    def __init__(self,name,year,mail):
        self.__name=name
        self.__year=year
        self.__mail=mail

In [23]:
c=car("shibani",2023,"nayakshibani@gmaill.com")

In [24]:
c._car__year

2023

In [102]:
class bank_account:
    def __init__(self,balance):
        self.__balance=balance
    def deposit(self,amount):
        self.__balance=self.__balance+amount
    def widral(self,amount):
        if self.__balance>=amount:
            self.__balance=self.__balance-amount
            return True
        else:
            return False
    def get_balance(self):
        return self.__balance

In [103]:
shiba=bank_account(10000)

In [104]:
shiba.get_balance()

10000

In [105]:
shiba.widral(522)

True

In [106]:
shiba.get_balance()

9478

In [28]:
#Inheritance
#multilevel
class class1:
    def test_class1(self):
        return"this is shibani"

In [29]:
class class2(class1):
    def test_class2(self):
        return "shibaniosanakso"

In [30]:
class class3(class2):
    pass

In [31]:
obj_class=class3()

In [32]:
obj_class.test_class1()

'this is shibani'

In [34]:
#multiple
class class1:
    def test_class1(self):
        return"this is shibani"

In [35]:
class class2:
    def test_class2(self):
        return"this is guddu"

In [36]:
class class3(class1,class2):
    pass

In [37]:
obj_class=class3()

In [38]:
obj_class.test_class1()

'this is shibani'

In [39]:
obj_class.test_class2()

'this is guddu'

In [42]:
#abstraction
import abc
class guddu:
    @abc.abstractmethod
    def student_details(self):
        pass
    @abc.abstractmethod
    def student_assignement(self):
        pass
    @abc.abstractmethod
    def student_mark(self):
        pass

In [43]:
class dats_scince(guddu):
    def student_details(self):
        return"shibani"
    def student_assignement(self):
        return "good"
    def student_mark(self):
        return "102"

In [44]:
class wev_dev(guddu):
    def student_details(self):
        return"shibani"
    def student_assignement(self):
        return "good"
    def student_mark(self):
        return "102"

In [45]:
dsm=wev_dev()

In [46]:
dt=dats_scince()

In [47]:
dsm.student_assignement()

'good'

In [50]:
#decorators
def test():
    print("this is the start of my function")
    print("this is my function to test")
    print("this is the end of the function")

In [51]:
test()

this is the start of my function
this is my function to test
this is the end of the function

In [53]:
def deco(func):
    def inner_dec():
        print("this is the start of my function")
        func()
        print("this is the end of the function")
    return inner_dec

In [56]:
@deco
def test1():
    print(5+6)

In [57]:
test1()

this is the start of my function
11
this is the end of the function

In [1]:
#time 
import time
def timer_test(func):
    def timer_test_inner():
        start =time.time()
        func()
        end=time.time()
        print(end-start)
    return timer_test_inner

In [2]:
def test2():
    print(45+78)

In [3]:
@timer_test
def test2():
    print(45+78)

In [4]:
test2()

123
0.0

In [6]:
@timer_test
def test3():
    for i in range(100252655):
        pass

In [8]:
test3()

2.183342933654785

In [9]:
#class methods

In [10]:
class guddu:
    def __init__(self,name,email):
        self.name=name
        self.email=email
    def student_details(self):
        print(self.name,self.email)

In [11]:
guddui=guddu("shibani","nayaka@gamin")

In [12]:
guddui.email

'nayaka@gamin'

In [15]:
class guddu:
    def __init__(self,name,email):
        self.name=name
        self.email=email
    @classmethod
    def details(cls,name,email):
        return cls(name,email)

In [17]:
shi=guddu.details("anayak","naak@gmail.com")

In [18]:
shi.name

'anayak'

In [25]:
class guddu2:#eben insi
    mobile_num=876383045000
    def __init__(self,name,email):
        self.name=name
        self.email=email
    @classmethod
    def change_number(cls,moile):
        guddu2.mobile_num=moile
    @classmethod
    def details(cls,name,email):
        return cls(name,email)

In [27]:
guddu2.change_number(7787090)

In [28]:
guddu2.mobile_num

7787090

In [1]:
#static method

In [2]:
class shibani:
    def student_details(self,name,mail_id,number):
        print(name,mail_id,number)

In [3]:
guddu=shibani()

In [4]:
guddu.student_details("shibani","nayakshibani@gmail.com",7787098512)

shibani nayakshibani@gmail.com 7787098512

In [5]:
class shibani1:
    def student_details(self,name,mail_id,number):
        print(name,mail_id,number)
    @staticmethod
    def mentet_class(lis_menter):
        print(lis_menter)

In [6]:
shibani1.mentet_class(["shibani","krish"])

['shibani', 'krish']

In [7]:
class guddu:
    @staticmethod
    def mentet_class(lis_menter):
        print(lis_menter)

In [18]:
guddu.mentet_class(["shibani","sankar"])

['shibani', 'sankar']

In [1]:
#special(magic&dunder)

In [2]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [3]:
a=100

In [4]:
a+5

105

In [5]:
a.__add__(5)

105

In [11]:
class shibani:
    def __new__(cls):
        print("thsi is my new")
    def __init__(self):
        print("nayak shibani")
        self.mobile_num=77870951

In [12]:
d=shibani()

thsi is my new

In [8]:
d.mobile_num

77870951

In [17]:
class shibani1:
    
    def __init__(self):
       
        self.mobile_num=77870951
    def __str__(self):
        return "this is my magic"

In [18]:
ss=shibani1()

In [19]:
ss

In [20]:
print(ss)

this is my magic

In [21]:
#property deco

In [22]:
class shi:
    def __init__(self,course_price,couruse_name):
        self.__course_price=course_price
        self.course_name=couruse_name

In [23]:
guddu=shi(3500,"data science")

In [24]:
guddu.course_name

'data science'

In [25]:
guddu.__course_price

AttributeError: 'shi' object has no attribute '__course_price'

In [26]:
guddu._shi__course_price

3500

In [28]:
class shi1:
    def __init__(self,course_price,couruse_name):
        self.__course_price=course_price
        self.course_name=couruse_name
    @property
    def course_price(self):
        return self.__course_price

In [29]:
pw=shi1(5000,"data science")

In [30]:
pw.course_price

5000

In [46]:
class shi1:
    def __init__(self,course_price,couruse_name):
        self.__course_price=course_price
        self.course_name=couruse_name
    @property
    def course_price_access(self):
        return self.__course_price
    
    @course_price_access.setter
    def course_price_set(self,price):
        if price <=3500:
            pass
        else:
            self.__course_price=price
    @course_price_access.deleter
    def delete_course_price(self):
        del self.__course_price

In [47]:
pw1=shi1(3252,"data scince")

In [48]:
pw1.course_price_access

3252

In [49]:
pw1.course_price_set=52525

In [50]:
pw1.course_price_access

52525

In [51]:
del pw1.delete_course_price

In [52]:
pw1.course_price_access

AttributeError: 'shi1' object has no attribute '_shi1__course_price'