In [1]:
a=1
while a<=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [1]:
#sum of the number till some point

In [6]:
num=int(input("enter the numbwr:"))
starting_point=0
coun=1
while coun<=num:
    starting_point=starting_point+coun
    coun=coun+1
starting_point

3

#facterial numa

In [7]:
num=int(input("enter the num"))
facter=1
while num>0:
    facter=facter*num
    num=num-1
facter

120

In [10]:
#fibonachi
#011235

In [13]:
number = int(input("enter the element:"))
a,b=0,1
co=0
while co<number:
    print(a)
    d=a+b
    a=b
    b=d
    co=co+1

0
1
1
2
3
5
8
13
21
34

In [14]:
#revers number

In [17]:
word=input("enter the word:")
rever=""
lengt=len(word)
while lengt>0:
    rever =rever+word[lengt-1]
    lengt=lengt-1
print(rever)

ianijs

In [16]:
word

'shiabo'

In [18]:
#table of numbers

In [33]:
n=int(input("enter the num:"))
i=1
while i<=10:
    retu=n*i
    print(retu)
    i=i+1
else:
    
    print("this is the may u to one executedf")

10
20
30
40
50
60
70
80
90
100
this is the may u to one executedf

In [1]:
#compre
l=[1,2,3,4,5,5,3]

In [2]:
l1=[]
for i in l:
    l1.append(i**2)

In [3]:
l1

[1, 4, 9, 16, 25, 25, 9]

In [4]:
l

[1, 2, 3, 4, 5, 5, 3]

In [5]:
[i**2 for i in l]

[1, 4, 9, 16, 25, 25, 9]

In [6]:
l

[1, 2, 3, 4, 5, 5, 3]

In [7]:
[i for i in l if i%2==0]

[2, 4]

In [8]:
l1=['shibani','sankar','nayak']

In [10]:
[i.upper() for i in l1]

['SHIBANI', 'SANKAR', 'NAYAK']

In [11]:
l

[1, 2, 3, 4, 5, 5, 3]

In [13]:
list(i**2 for i in l)

[1, 4, 9, 16, 25, 25, 9]

In [14]:
#dis
d={"key1":1,'key2':2,'key3':3,'key4':4}

In [16]:
{k:v**2 for k,v in d.items()}

{'key1': 1, 'key2': 4, 'key3': 9, 'key4': 16}

In [17]:
d

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [18]:
{k:v for k,v in d.items() if v>1}

{'key2': 2, 'key3': 3, 'key4': 4}